*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Outfit', sans-serif;
}

main{
    max-width: 1107px;
    margin: auto;
}

.clearfix::after{
    content: '';
    clear:both;
    display: table;
}
/* Fine blocco regole generali */

h1{
    color:#E53170;
    font-size: 2.5em;
    font-weight: 900;
    
}

.centrale{
    text-align: center;
    margin: 40px 0px;
}

main > p{
    font-size: 20px;
}

/* fine regole parte superiore della pagina e inizio regole del blocco dei profili */

h3{
    font-weight: 900;
}

.id-box img{
    width: 100px;
    float: left;
}

.id-box{
    float: left;
    background-color: black;
    height: 100px;
    width: calc(100% / 3 - 40px);
    margin: 20px 20px;
    color:#fff;
}

div p, h3{
    margin: 10px 0px 0px 110px;
}

div p:last-child{
    color: #2EB0DC;
}